---
const members = [
    { id: 1, name: 'Ahmad Raihan Maulana Setiawan', subdomain: 'aren' },
    { id: 2, name: 'Andini Azaria Zahra', subdomain: 'andini' },
    { id: 3, name: 'Arrosyid Al Ayubi', subdomain: 'arrosyid' },
    { id: 4, name: 'Arum Kusuma Dewi', subdomain: 'arum' },
    { id: 5, name: 'Azzura Agustina', subdomain: 'azzura' },
    { id: 6, name: 'Diaz Prasojo', subdomain: 'diaz' },
    { id: 7, name: 'Diaz Shandika Firdaus', subdomain: 'dika' },
    { id: 8, name: 'Gladys Aditya Ramadhan', subdomain: 'gladys' },
    { id: 9, name: 'Farah Hilallia Alvina', subdomain: 'farah' },
    { id: 10, name: 'Haikal Azhar', subdomain: 'haikal' },
    { id: 11, name: 'Harsya Pandawa', subdomain: 'harsya' },
    { id: 12, name: 'Hisyam Arief Firmansyah', subdomain: 'hisyam' },
    { id: 13, name: 'Ihwan Ramadani', subdomain: 'ihwan' },
    { id: 14, name: 'Isma Khoyriyah', subdomain: 'isma' },
    { id: 15, name: 'Liza Zulaikha', subdomain: 'liza' },
    { id: 16, name: 'Maylova Chayananda', subdomain: 'maylova' },
    { id: 17, name: 'Muhamad Gilang Ramadan', subdomain: 'gilang' },
    { id: 18, name: 'Muhammad Rizqi Rahman', subdomain: 'rizqi' },
    { id: 19, name: 'Muhammad Shandi Yudha', subdomain: 'shandi' },
    { id: 20, name: 'Muhammad Zaky Permana', subdomain: 'zaky' },
    { id: 21, name: 'Rayhan Priyonggo', subdomain: 'rayhan' },
    { id: 22, name: 'Refael Gomgom Sibarani', subdomain: 'refael' },
    { id: 23, name: 'Rifky Chaezario Hidayat', subdomain: 'rifky' },
    { id: 24, name: 'Rizka Nur Juniarti', subdomain: 'rizka' },
    { id: 25, name: 'Rizky Nur Rahman', subdomain: 'rizky' },
    { id: 26, name: 'Sultan Muhammad Syafiq', subdomain: 'sultan' },
    { id: 27, name: 'Surya Aji Prasetya', subdomain: 'surya' },
    { id: 28, name: 'Zaqi Alfataillah', subdomain: 'zaqi' },
];
---

<section id="anggota" class="bg-white p-5 md:p-20 h-full">
    <div class="mx-auto max-w-7xl px-4 lg:px-12">
        <h2 class="text-2xl font-bold mb-4 text-center">Anggota Kelas 01SIFP010</h2>
        <div class="bg-white relative shadow-md sm:rounded-lg overflow-hidden mt-10">
            <div class="overflow-x-auto">
                <table class="w-full text-sm text-left text-white">
                    <thead class="text-lg  uppercase bg-gray-500 text-white">
                        <tr>
                            <th scope="col" class="px-4 py-3">No</th>
                            <th scope="col" class="px-4 py-3">Nama Anggota</th>
                            <th scope="col" class="px-4 py-3">Link Website</th>
                        </tr>
                    </thead> 
                    <tbody>
                        {members.map((member) => (
                            <tr class="border-b border-gray-700">
                                <td class="px-4 py-3 text-gray-900">{member.id}</td>
                                <th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap">{member.name}</th>
                                <td class="px-4 py-3 text-gray-900">
                                    <a href={`https://${member.subdomain}.kelas10sifp.my.id`} target="_blank" class="hover:underline">
                                        Link Website
                                    </a>
                                </td>
                            </tr>
                        ))}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    </section>