---
import "../style/global.css";
import { Image } from "astro:assets"
import logounpam from "../../public/logo-unpam.png";
---
<div class="w-full bg-cyan-950 text-white flex flex-row justify-around items-center p-5">
    <Image src={logounpam}
     alt="Logo UNPAM" 
     height="300"
     width="291"
     decoding="async"
     loading="eager"
     fetchpriority="high"
     class="max-h-28 max-w-28" />
    <nav class="p-4 flex flex-row gap-4">
    <ul class="flex flex-row gap-4">
        <li class="hover:underline"><a href="/">Beranda</a></li>
        <li class="hover:underline"><a href="#tentang">Tentang</a></li>
        <li class="hover:underline"><a href="#anggota">Anggota</a></li>
    </ul>
    </nav>
</div>